.ui-page {
  color: yellow !important;
  background: black;
}
.ui-title {
  color: yellow !important;
 background: black !important;
}
.ui-header {
  color: black !important;
  background: black!important;
}
.ui-footer {
  color: yellow !important;
  background: black !important;
}
.ui-ol {
  color: yellow !important;
  background: yellow !important;
}
.ui-content {
  color: yellow !important;
}

.vader{
  width:100%;
  height:100%;
  object-fit: cover;
  overflow: hidden;
}
p {
  margin:10px;
}

.star {
    position: absolute;
    width: 1px;
    height: 1px;
    background-color: white;
  }
  
.boba {
      background-color: white !important;
      background-image: url('boba2.png');
      width: -webkit-fill-available;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 600px
  }